# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env/
.venv/
venv/
pip-log.txt
pip-delete-this-arg.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Environment variables
.env
